*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.md linguist-language=MarkDown

static/katex/ linguist-vendored
static/katex/** linguist-vendored

# 屏蔽 HTML 参与 GitHub 语言占比统计
*.html linguist-vendored